@font-face {
  font-family: "iconfont"; /* Project id 2638356 */
  src: url('iconfont.woff2?t=1624937665104') format('woff2'),
       url('iconfont.woff?t=1624937665104') format('woff'),
       url('iconfont.ttf?t=1624937665104') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
  content: "\e691";
}

.icon-fork:before {
  content: "\ebd3";
}

.icon-branches:before {
  content: "\ebd4";
}

.icon-jinzhide:before {
  content: "\e6bd";
}

.icon-chacha:before {
  content: "\e62f";
}

.icon-jiazai:before {
  content: "\e642";
}

.icon-jiazaizhong:before {
  content: "\e6ac";
}

.icon-success:before {
  content: "\e60c";
}

