ul
  list-style: none
  margin: 0
  padding: 0

.emptyCont
  font-size: 20px
  text-align: center
  color: #7b7b7b
  line-height: 80px
  i
    font-size: 22px
    margin-right: 10px
    color: #e6a369

.card
  background: #f8fafd
  .card-header
    background: #fdfeff
